/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-button-toggle-group {
  margin-left: 12px;
}

.mat-button-toggle {
  min-width: 160px;
}

.mat-button-toggle-checked {
  background-color: #3f51b5;
}

.mat-button-toggle-checked.mat-button-toggle-appearance-standard {
  color: white;
}

.fa-long-arrow-alt-right,
.fa-long-arrow-alt-left,
.fa-long-arrow-alt-up,
.fa-long-arrow-alt-down,
.fa-info-circle {
  color: #3f51b5;
}
